[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.11"
gunicorn= "==19.9.0"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-allauth = "*"
django-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.7"
